.container {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #263238;
  color: white;
  flex-wrap: wrap;
  gap: 8px;
}

.container p {
  margin: 0px;
}

.ulStyles {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

.ulStyles li a {
  text-decoration: none;
  color: white;
}

.ulStyles li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .container {
    text-align: center;
    justify-content: center;
  }
}
