.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: linear-gradient(to left, #00b8d4, #00e5ff);
  align-items: center;
  max-width: none;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0px;
}

.links li a {
  text-decoration: none;
  color: black;
}

.links li a:hover {
  text-decoration: underline;
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 600px) {
  .links {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #e0f7fa;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    transition: height 600ms ease;
    padding: 0px;
    gap: 0;
  }

  .visible {
    height: calc(100vh - 60px);
  }

  .links li {
    border-bottom: 1px solid #00838f;
  }

  .links li a {
    display: inline-block;
    padding: 16px;
    width: 100%;
  }

  .links li a:hover {
    background-color: #b2ebf2;
  }

  .menuBtn {
    display: block;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: rgba(224, 247, 250, 0.75);
    transition: all 400ms ease;
  }

  .menuBtn:hover {
    background-color: #00e5ff;
  }
}
