.productsTabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.productsTabList {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.productsTabList li {
  background-color: #d1c4e9;
  padding: 8px 16px;
  border-radius: 32px;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.productsTabList li:hover,
.activeTab {
  background-color: #673ab7;
  color: white;
}

.activeTab {
  background-color: #673ab7 !important;
}
