.galleryCardContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.galleryCardImg {
  width: 100%;
  height: auto;
  scale: 1;
  transition: all 0.5s;
}

.galleryCardDescContainer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(187, 72%, 93%, 0.9);
  padding: 16px;
  opacity: 0;
  transition: all 0.5s;
}

.galleryCardDescContainer h3 {
  margin: 0;
  font-size: 1.15rem;
  margin-bottom: 4px;
}

.galleryCardDescContainer p {
  margin: 0;
}

.galleryCardContainer:hover .galleryCardDescContainer {
  opacity: 1;
}

.galleryCardContainer:hover .galleryCardImg {
  scale: 1.25;
}
