.workCardContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 24px;
}

.workCardImg {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.5s;
}

.workCardTitleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: rgba(224, 242, 241, 0.75);
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transition: all 0.5s;
}

.workCardTitleContainer h3 {
  font-size: 1.25rem;
  margin: 0px;
}

.workCardTitleContainer p {
  margin: 0px;
}

.workCardContainer:hover .workCardTitleContainer {
  opacity: 1;
}

.workCardContainer:hover .workCardImg {
  transform: scale(1.25);
}
