.container {
  border: solid 1px #bdbdbd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.imgContainer {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  height: 200px;
}

.infoContainer {
  padding: 16px;
}

.infoContainer p {
  margin: 0px;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 12px !important;
}
