* {
  box-sizing: border-box;
}

button {
  border-radius: 32px;
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 8px 16px;
}

button:hover {
  background-color: #7c4dff;
  color: white;
}
