.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  gap: 32px;
}

.chartContainer {
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
