.containerMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  background-color: #e0e0e0;
}

.containerTags {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.containerTags h3 {
  margin-bottom: 16px;
  font-size: 1.5rem;
}
.containerTagsInner div {
  padding: 8px;
  font-size: 1.125rem;
}

@media screen and (max-width: 600px) {
  .containerMain {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
