.tableContainer {
  background-color: #bdbdbd;
  padding: 32px;
  padding-bottom: 60px;
}

.tableContainer h2 {
  margin-bottom: 16px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 14.167%);
  gap: 3%;
}

.barContainer {
  height: 255px;
  background-color: white;
  position: relative;
  border-radius: 4px;
}

.bar {
  background-color: #30a7d7;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
}

.statName {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.statNumber {
  position: absolute;
  margin: 0px;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.bar p.statNumber::after {
  content: "%";
}
