.fromContainer {
  padding: 32px;
  background-color: #e0f2f1;
  border-radius: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nameEmailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nameEmailContainer div {
  flex-grow: 1;
}

.submitBtn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.spinner {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
