.fromContainer {
  padding: 32px;
  background-color: #e0f7fa;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nameEmailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nameEmailContainer div {
  flex-grow: 1;
}
