.containerMain {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f3e5f5;
  padding: 24px;
  border-radius: 16px;
  border: solid 1px #bdbdbd;
}

.infoItemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.infoItemContainer svg {
  height: 24px;
  width: 24px;
  color: #14a37f;
}
