.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #e0f7fa;
  padding: 24px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.infoContainer svg {
  width: 20px;
  height: 20px;
  background-color: #80deea;
  padding: 8px;
  border-radius: 50%;
}

.infoContainer div {
  flex-grow: 1;
}

.infoContainer div h4,
.infoContainer div p {
  margin: 0px;
}

.infoContainer div h4 {
  font-size: 1.15rem;
}

.infoContainer div p {
  font-size: 0.9rem;
}
