.containerOuter {
  background: linear-gradient(
    313deg,
    rgba(2, 65, 155, 1) 0%,
    rgba(64, 162, 208, 1) 50%,
    rgba(78, 98, 254, 1) 100%
  );
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerInner {
  height: 80%;
  width: 300px;
  background-color: #000a18;
  border-radius: 48px;
  display: grid;
  grid-template-rows: 1fr 80px;
  gap: 16px;
  padding: 12px;
}

.weatherInfoContainer {
  background: linear-gradient(
    0deg,
    rgba(18, 113, 244, 1) 0%,
    rgba(21, 192, 246, 1) 100%
  );
  height: 100%;
  border-radius: 40px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 8px;
}

.listContainer {
  height: 100%;
}

.tempInfoContainer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-align: center;
}

.tempInfoContainer h2 {
  font-size: 6rem;
  color: white;
}

.tempInfoContainer p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.weatherImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
