.faqsRowContainer {
  padding: 32px;
}

.faqsRowContainerInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  background-color: #d1c4e9;
  padding: 16px;
  border-radius: 32px;
}

.faqQueContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.faqQueContainer p {
  flex-grow: 1;
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0px;
  color: #311b92;
}

.faqQueContainer p span {
  margin-right: 12px;
}

.arrowIconContainer {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.arrowIconContainer:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
