.faqsRowContainer {
  padding: 32px;
  background-color: #e0f7fa;
}

.faqsRowContainerInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqContainer {
  background-color: #b2ebf2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faqQueContainer {
  display: flex;
  align-items: center;
}

.faqQueContainer p {
  margin: 0px;
  flex-grow: 1;
  text-align: left;
  font-size: 1.15rem;
  font-weight: 500;
}

.faqQueContainer p span {
  margin-right: 12px;
}

.faqAnsPara {
}

.arrowIcon {
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
