.rowContainer {
  padding: 32px;
  background-color: #f3e5f5;
}

.faqsContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.singleFaqContainer {
  padding: 8px;
  border: solid 1px #ce93d8;
  border-radius: 8px;
  background-color: white;
}

.que {
  font-weight: 600;
  color: #ab47bc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.queAndIcon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.moreBtn {
  height: 32px;
  width: 32px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ans {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}
