.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  background-color: #212121;
  color: white;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.list li a {
  color: white;
  text-decoration: none;
}

.list li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 8px;
  }
}
