.navContainer {
  display: flex;
  background: linear-gradient(
    128deg,
    rgba(106, 27, 154, 1) 0%,
    rgba(74, 20, 140, 1) 100%
  );
  color: white;
  padding: 16px 32px;
  align-items: center;
  height: 70px;
}

.logo {
  flex-grow: 1;
  font-size: 2.25rem;
  font-family: "Kode Mono", monospace;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

.links li a {
  text-decoration: none;
  color: white;
}

.links li a:hover {
  text-decoration: underline;
}
