.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 32px;
  gap: 16px;
}

.cardContainer {
  border: solid 1px #bdbdbd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.imgContainer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
}

.infoContainer {
  padding: 16px;
}

.infoContainer p {
  margin: 0px;
}
.pokemonNumber {
}

.pokemonName {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px !important;
}
