.pricingRowOuterContainer {
  padding: 32px;
}
.pricingRowInnerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.pricingCardContainer {
  padding: 32px;
  background-color: #e0f2f1;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.pricingCardPriceContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pricingCardPriceContainer h3 {
  margin: 0px;
  font-size: 1.25rem;
}

.pricingCardPriceContainer p:nth-child(2) {
  font-size: 3rem;
  margin: 0px;
  font-weight: bold;
}

.pricingCardPriceContainer p:nth-child(2) span {
  font-size: 1.25rem;
  margin: 0px;
  font-weight: bold;
}

.pricingCardFeaturesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pricingCardFeaturesContainer p {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0px;
}

.activeCard {
  background-color: #004d40;
  color: white;
}
