.progressBarContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.progressBarContainer p {
  margin: 0px;
}

.progressBar {
  width: 100%;
  background-color: gray;
  height: 18px;
  position: relative;
  border-radius: 32px;
}

.progressBarValue {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #4a148c;
  width: 0%;
  border-radius: 30px 0px 0px 32px;
}

.progressBarValue1 {
  width: 40%;
  animation: progress1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.57, 0.06, 0.6, 0.9);
}
.progressBarValue2 {
  width: 50%;
  animation: progress2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.57, 0.06, 0.6, 0.9);
}
.progressBarValue3 {
  width: 60%;
  animation: progress3;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.57, 0.06, 0.6, 0.9);
}
.progressBarValue4 {
  width: 90%;
  animation: progress4;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.57, 0.06, 0.6, 0.9);
}

.progressRowContainer {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.progressRowInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@keyframes progress1 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes progress2 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes progress3 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progress4 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
