.containerMain {
  padding: 32px;
}

.containerList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .containerList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
