.container {
  background-color: #424242;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.input {
  height: 38px;
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.input:focus {
  outline: solid 2px #ee6b2f;
  outline-offset: -2px;
}

.searchBtn {
  height: 38px;
  width: 38px;
  padding: 0px;
}
