.container {
  background-color: #424242;
  padding: 16px 32px;
}

.innerContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 6px;
  height: 36px;
  border: none;
  border-radius: 4px;
}

.input:focus {
  outline: solid 2px #ee6b2f;
  outline-offset: -2px;
}

.searchBtn {
  padding: 8px;
  border-radius: 4px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
