/* Row Styles */

.rowContainer {
  padding: 32px;
  background-color: #e0f7fa;
}

.innerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

/* Card Styles */

.serviceCardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #b2ebf2;
}

.serviceCardImgContainer {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.serviceCardImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serviceCardDescContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.serviceCardDescContainer button {
  width: fit-content;
}
