.servicesRowContainer {
  padding: 32px;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.serviceCardContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background-color: #b2dfdb;
  border-radius: 32px;
}

.serviceCardImgContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.serviceCardImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.serviceCardDescContainer {
}
