.containerHeader {
  display: flex;
  align-items: center;
  padding: 24px 32px;
  padding-bottom: 0px;
  /* padding-top: 0px; */
  justify-content: space-between;
  /* background-color: #eeeeee; */
}

.containerList {
  padding: 24px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #bdbdbd;
}

.containerListItem p {
  margin: 0px;
}

.containerListItem div {
  display: flex;
  gap: 8px;
}
