.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px;
}

.container p {
  font-size: 2rem;
  margin: 0px;
}

.name {
  font-weight: bold;
}

.number {
  color: #616161;
}
