.containerMain {
  padding: 32px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.containerRecipeInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipeTitle {
  font-size: 3rem;
}

.containerRecipeImg {
  /* max-width: 400px; */
  overflow: hidden;
  border-radius: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: solid 1px rgba(0, 0, 0, 0.093);
  position: relative;
  top: -100px;
}

.containerRecipeImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
