.containerIngredients {
  padding: 32px;
}

.containerTitleMain {
  font-size: 2rem;
  margin-bottom: 16px;
}

.containerIngredientsListItem {
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: #ebeff4;
  padding: 16px;
  border-radius: 8px;
}

.containerListItemImg {
  width: 65px;
  height: 65px;
  padding: 8px;
}

.containerListItemImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.containerListItemDesc {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerListItemDesc p {
  font-size: 1.15rem;
  font-weight: 500;
}

.containerListItemDesc p:last-child {
  color: rgba(0, 0, 0, 0.709);
}

.containerIngredientsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
