.containerNutritionName {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circleNutritionName {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.textNutritionName {
  font-weight: 600;
}

.containerNutritionTable {
  padding: 16px;
  background-color: #eeeeee;
  border: solid 1px #bdbdbd;
  border-radius: 16px;
  max-width: 80%;
  margin-top: 16px;
}

.subCarbs {
  margin-left: 18px;
  display: block;
}
