.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background-color: #263238;
  color: white;
  flex-wrap: wrap;
  text-align: center;
}

.container ul,
.container p {
  margin: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0px;
}

@media screen and (max-width: 700px) {
  .container {
    justify-content: center;
  }
}
