.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  /* background-color: #009688; */
  background: linear-gradient(to right, #1de9b6, #00695c);
  color: white;
  width: 100% !important;
  margin: 0px;
  max-width: none;
}

.ulStyles {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}
